<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.clup">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".ApplicationContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Clup.Main"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">

        <receiver
            android:name=".notification.NotificationBroadcastReceiver"
            android:process=":remote" />

        <receiver
            android:name=".notification.NotificationDeviceBootBroadcastReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".notification.NotificationActionBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name=".notification.NotificationService.ACTION_DIRECTIONS" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.DetailsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Clup.Details" />
        <activity
            android:name=".ui.SelectActivity"
            android:parentActivityName=".ui.MapActivity"
            android:theme="@style/AppTheme.Clup.Select" />
        <activity
            android:name=".ui.MapActivity"
            android:label="@string/title_activity_map"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Clup.Map" />
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.Clup.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Clup.Splash"
            android:windowSoftInputMode="stateVisible" />
    </application>

</manifest>